nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #b0b8c2; /* texto cinza claro */
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a:hover {
    color: #3e8e7e; /* verde escuro para destaque */
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3e8e7e; /* linha verde escura */
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}
